videos/
pipeline/context/assets/
__pycache__/
utils/collect_transformer_samples/data
pipeline/context/Pytorch-Correlation-extension/
model/backbones/dinov2_vit_giant2.pth
model/backbones/dinov2_vit_base.pth
model/backbones/dinov2_vit_large.pth
model/output.txt
logs/
sabr.egg-info/
renderData/
model/model_test/
pipeline/track/phalp/trackers/yolov8x-seg.pt
utils/collect_transformer_samples/visualized_2d_pose_videos/
pipeline/context/dwpose/dw-ll_ucoco_384.onnx
data/ 
model/architecture/results/
inference.log
weights.zip
weights_download.zip
.DS_Store
